<h1> <%= @band.name() %></h1>

<h2> What venues would you like to visit? </h2>

<% @venues.each() do |venue| %>
<form action ="/bands/<%= @band.id() %>" method="post">
<input type="hidden" name="_method" value="patch">
  <div class="checkbox">
    <label>
      <input type="checkbox" name="venue_ids[]" value="<%= venue.id() %>"> <%= venue.name() %>
    </label>
  </div>
<% end %>

<button type="submit">Add venue</button>
</form>

<% if @band.venues().any?() %>
<h3> Here is a list of <%= @band.name() %>'s venues </h3>

<ul>
  <% @band.venues().each() do |venue| %>
    <li><a href="/venues/<%=venue.id()%>"><%= venue.name() %></a></li>
  <% end %>
</ul>

<% else %>
<p>There are no venues yet!</p>
<% end %>

<form action="/bands/<%= @band.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn btn-sm btn-danger">Delete Band</button>
</form>

<a href="/">Back to Home Page</a>
